USE [NLCS]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMIN_ID] [int] NOT NULL,
	[HD_ID] [int] NULL,
	[ADMIN_TEN] [char](30) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY NONCLUSTERED 
(
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[SP_ID] [bigint] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[BINHLUAN_CHITIET] [text] NULL,
	[BINHLUAN_HINHANH] [image] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[KH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[SP_ID] [bigint] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[CH_NOIDUNG] [text] NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[KH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUTRALOI]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTRALOI](
	[SP_ID] [bigint] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[ADMIN_ID] [int] NOT NULL,
	[CTL_NOIDUNG] [text] NULL,
 CONSTRAINT [PK_CAUTRALOI] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[KH_ID] ASC,
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[SP_ID] [bigint] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[DANHGIA_DIEM] [int] NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[KH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[DVVC_ID] [int] NOT NULL,
	[DVTT_ID] [int] NOT NULL,
	[DH_MADONHANG] [varchar](20) NOT NULL,
	[HD_ID] [int] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[TT_ID] [int] NOT NULL,
	[DH_THOIGIANGIAODUKIEN] [varchar](256) NULL,
	[DH_NGAYTAO] [datetime] NULL,
	[DH_NGAYCAPNHAT] [datetime] NULL,
	[DH_NGAYXOA] [datetime] NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY NONCLUSTERED 
(
	[DVVC_ID] ASC,
	[DVTT_ID] ASC,
	[DH_MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITHANHTOAN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITHANHTOAN](
	[DVTT_ID] [int] NOT NULL,
	[DVTT_MADVTT] [varchar](256) NULL,
	[DVTT_TENDVTT] [varchar](256) NULL,
 CONSTRAINT [PK_DONVITHANHTOAN] PRIMARY KEY NONCLUSTERED 
(
	[DVTT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVIVANCHUYEN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVIVANCHUYEN](
	[DVVC_ID] [int] NOT NULL,
	[DVVC_MADVVC] [char](256) NULL,
	[DVVC_TENDVVC] [char](256) NULL,
 CONSTRAINT [PK_DONVIVANCHUYEN] PRIMARY KEY NONCLUSTERED 
(
	[DVVC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIA]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA](
	[SP_ID] [bigint] NOT NULL,
	[N_NGAY] [datetime] NOT NULL,
	[GIA_GIAGOC] [decimal](18, 0) NULL,
	[GIA_PHANTRAMKHUYENMAI] [int] NULL,
	[GIA_GIAKHUYENMAI] [decimal](18, 0) NULL,
 CONSTRAINT [PK_GIA] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[N_NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[DVVC_ID] [int] NOT NULL,
	[DVTT_ID] [int] NOT NULL,
	[DH_MADONHANG] [varchar](20) NOT NULL,
	[SP_ID] [bigint] NOT NULL,
	[GH_SOLUONG] [int] NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[DVVC_ID] ASC,
	[DVTT_ID] ASC,
	[DH_MADONHANG] ASC,
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGKH]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGKH](
	[HKH_ID] [int] NOT NULL,
	[KM_ID] [int] NULL,
	[HKH_MAHANG] [char](256) NULL,
	[HKH_TENHANG] [char](256) NULL,
	[HKH_CHITIET] [char](256) NULL,
	[HKH_NGAYTAO] [datetime] NULL,
	[HKH_NGAYCAPNHAT] [datetime] NULL,
	[HKH_NGAYXOA] [datetime] NULL,
 CONSTRAINT [PK_HANGKH] PRIMARY KEY NONCLUSTERED 
(
	[HKH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[HD_ID] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[HD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[KH_ID] [int] NOT NULL,
	[HKH_ID] [int] NOT NULL,
	[PX_ID] [int] NOT NULL,
	[KH_MAKH] [char](10) NULL,
	[KH_HOTEN] [varchar](50) NULL,
	[KH_NGAYSINH] [datetime] NULL,
	[KH_GIOITINH] [bit] NULL,
	[KH_DIACHI] [varchar](256) NULL,
	[KH_SDT] [char](11) NULL,
	[KH_EMAIL] [varchar](256) NULL,
	[KH_DIEMTICHLUY] [int] NULL,
	[KH_TONGTIENDATHANHTOAN] [money] NULL,
	[KH_NGAYTAO] [datetime] NULL,
	[KH_NGAYCAPNHAT] [datetime] NULL,
	[KH_NGAYXOA] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[KH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[KHO_ID] [int] NOT NULL,
	[KHO_MAKHO] [char](5) NULL,
	[KHO_DIACHI] [varchar](50) NULL,
	[KHO_SOLUONGCONLAI] [int] NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY NONCLUSTERED 
(
	[KHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[KM_ID] [int] NOT NULL,
	[KM_MAKHUYENMAI] [char](10) NULL,
	[KM_TENKHUYENMAI] [varchar](256) NULL,
	[KM_THOIGIANBATDAU] [datetime] NULL,
	[KM_THOIGIANKETTHUC] [datetime] NULL,
	[KM_CHITIET] [text] NULL,
	[KM_SOLUONG] [int] NULL,
	[KM_NGAYTAO] [datetime] NULL,
	[KM_NGAYCAPNHAT] [datetime] NULL,
	[KM_NGAYXOA] [datetime] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[KM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[L_ID] [int] NOT NULL,
	[L_MALOAI] [char](256) NULL,
	[L_TENLOAI] [char](256) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[L_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[N_NGAY] [datetime] NOT NULL,
	[KHO_ID] [int] NOT NULL,
	[NH_SOLUONGNHAP] [int] NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[N_NGAY] ASC,
	[KHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX](
	[NSX_ID] [int] NOT NULL,
	[NSX_MANSX] [char](256) NULL,
	[NSX_TENNSX] [char](256) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY NONCLUSTERED 
(
	[NSX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONG_XA]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG_XA](
	[PX_ID] [int] NOT NULL,
	[KHO_ID] [int] NULL,
	[QH_ID] [int] NOT NULL,
	[PX_MA] [char](2) NULL,
	[PX_TEN] [varchar](50) NULL,
 CONSTRAINT [PK_PHUONG_XA] PRIMARY KEY NONCLUSTERED 
(
	[PX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_HUYEN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_HUYEN](
	[QH_ID] [int] NOT NULL,
	[TTP_ID] [int] NOT NULL,
	[QH_MA] [char](2) NULL,
	[QH_TEN] [varchar](50) NULL,
 CONSTRAINT [PK_QUAN_HUYEN] PRIMARY KEY NONCLUSTERED 
(
	[QH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[Q_ID] [int] NOT NULL,
	[Q_MA] [char](2) NULL,
	[Q_TEN] [char](10) NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY NONCLUSTERED 
(
	[Q_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[SP_ID] [bigint] NOT NULL,
	[NSX_ID] [int] NOT NULL,
	[L_ID] [int] NOT NULL,
	[N_NGAY] [datetime] NOT NULL,
	[KHO_ID] [int] NOT NULL,
	[SP_MASANPHAM] [char](256) NULL,
	[SP_TENSANPHAM] [char](256) NULL,
	[SP_MOTA] [text] NULL,
	[SP_DANHGIATRUNGBINH] [float] NULL,
	[SP_HANBAOHANH] [varchar](256) NULL,
	[SP_MAUSAC] [char](256) NULL,
	[SP_KICHTHUOC] [float] NULL,
	[SP_CANNANG] [float] NULL,
	[SP_HINHANH] [image] NULL,
	[SP_XUATXU] [varchar](256) NULL,
	[SP_NGAYTAO] [datetime] NULL,
	[SP_NGAYCAPNHAT] [datetime] NULL,
	[SP_NGAYXOA] [datetime] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_KHUYENMAI]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_KHUYENMAI](
	[SP_ID] [bigint] NOT NULL,
	[KM_ID] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC,
	[KM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMCUTHE]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMCUTHE](
	[SPCT_IMEIL] [char](256) NOT NULL,
	[SP_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_SANPHAMCUTHE] PRIMARY KEY NONCLUSTERED 
(
	[SPCT_IMEIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TK_USERNAME] [varchar](256) NOT NULL,
	[ADMIN_ID] [int] NOT NULL,
	[Q_ID] [int] NOT NULL,
	[KH_ID] [int] NOT NULL,
	[TK_PASSWORD] [varchar](256) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[TK_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIDIEM]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIDIEM](
	[N_NGAY] [datetime] NOT NULL,
 CONSTRAINT [PK_THOIDIEM] PRIMARY KEY NONCLUSTERED 
(
	[N_NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH_THANHPHO]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_THANHPHO](
	[TTP_ID] [int] NOT NULL,
	[TTP_MATTP] [char](2) NULL,
	[TTP_TEN] [varchar](50) NULL,
 CONSTRAINT [PK_TINH_THANHPHO] PRIMARY KEY NONCLUSTERED 
(
	[TTP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 4/26/2019 22:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[TT_ID] [int] NOT NULL,
	[TT_MATRANGTHAI] [int] NULL,
	[TT_TENTRANGTHAI] [varchar](256) NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY NONCLUSTERED 
(
	[TT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_ADMIN_DUY_HOADON] FOREIGN KEY([HD_ID])
REFERENCES [dbo].[HOADON] ([HD_ID])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ADMIN_DUY_HOADON]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_BINHLUAN__KHACHHAN] FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KHACHHANG] ([KH_ID])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_BINHLUAN__KHACHHAN]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_BINHLUAN__SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_BINHLUAN__SANPHAM]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_CAUHOI_SA_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_CAUHOI_SA_SANPHAM]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_KHACHHANG_KHACHHAN] FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KHACHHANG] ([KH_ID])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_KHACHHANG_KHACHHAN]
GO
ALTER TABLE [dbo].[CAUTRALOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUTRALO_ADMIN_CAU_ADMIN] FOREIGN KEY([ADMIN_ID])
REFERENCES [dbo].[ADMIN] ([ADMIN_ID])
GO
ALTER TABLE [dbo].[CAUTRALOI] CHECK CONSTRAINT [FK_CAUTRALO_ADMIN_CAU_ADMIN]
GO
ALTER TABLE [dbo].[CAUTRALOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUTRALO_CAUTRALOI_CAUHOI] FOREIGN KEY([SP_ID], [KH_ID])
REFERENCES [dbo].[CAUHOI] ([SP_ID], [KH_ID])
GO
ALTER TABLE [dbo].[CAUTRALOI] CHECK CONSTRAINT [FK_CAUTRALO_CAUTRALOI_CAUHOI]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DANHGIA_S_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_DANHGIA_S_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG_KHACHHAN] FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KHACHHANG] ([KH_ID])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG_KHACHHAN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_DONHANG_D_DONVITHA] FOREIGN KEY([DVTT_ID])
REFERENCES [dbo].[DONVITHANHTOAN] ([DVTT_ID])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_DONHANG_D_DONVITHA]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_DONHANG_D_DONVIVAN] FOREIGN KEY([DVVC_ID])
REFERENCES [dbo].[DONVIVANCHUYEN] ([DVVC_ID])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_DONHANG_D_DONVIVAN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_DONHANG_H_HOADON] FOREIGN KEY([HD_ID])
REFERENCES [dbo].[HOADON] ([HD_ID])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_DONHANG_H_HOADON]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG_KHACHHAN] FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KHACHHANG] ([KH_ID])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG_KHACHHAN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_TRANGTHAI_TRANGTHA] FOREIGN KEY([TT_ID])
REFERENCES [dbo].[TRANGTHAI] ([TT_ID])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_TRANGTHAI_TRANGTHA]
GO
ALTER TABLE [dbo].[GIA]  WITH CHECK ADD  CONSTRAINT [FK_GIA_GIA_SANPH_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[GIA] CHECK CONSTRAINT [FK_GIA_GIA_SANPH_SANPHAM]
GO
ALTER TABLE [dbo].[GIA]  WITH CHECK ADD  CONSTRAINT [FK_GIA_GIA_THOID_THOIDIEM] FOREIGN KEY([N_NGAY])
REFERENCES [dbo].[THOIDIEM] ([N_NGAY])
GO
ALTER TABLE [dbo].[GIA] CHECK CONSTRAINT [FK_GIA_GIA_THOID_THOIDIEM]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_DONHANG_G_DONHANG] FOREIGN KEY([DVVC_ID], [DVTT_ID], [DH_MADONHANG])
REFERENCES [dbo].[DONHANG] ([DVVC_ID], [DVTT_ID], [DH_MADONHANG])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_DONHANG_G_DONHANG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_GIOHANG_S_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_GIOHANG_S_SANPHAM]
GO
ALTER TABLE [dbo].[HANGKH]  WITH CHECK ADD  CONSTRAINT [FK_HANGKH_KHUYENMAI_KHUYENMA] FOREIGN KEY([KM_ID])
REFERENCES [dbo].[KHUYENMAI] ([KM_ID])
GO
ALTER TABLE [dbo].[HANGKH] CHECK CONSTRAINT [FK_HANGKH_KHUYENMAI_KHUYENMA]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_HANG_KHAC_HANGKH] FOREIGN KEY([HKH_ID])
REFERENCES [dbo].[HANGKH] ([HKH_ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_HANG_KHAC_HANGKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_KHACHHANG_PHUONG_X] FOREIGN KEY([PX_ID])
REFERENCES [dbo].[PHUONG_XA] ([PX_ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_KHACHHANG_PHUONG_X]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_KHO_NHAPH_KHO] FOREIGN KEY([KHO_ID])
REFERENCES [dbo].[KHO] ([KHO_ID])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_KHO_NHAPH_KHO]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_THOIDIEM__THOIDIEM] FOREIGN KEY([N_NGAY])
REFERENCES [dbo].[THOIDIEM] ([N_NGAY])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_THOIDIEM__THOIDIEM]
GO
ALTER TABLE [dbo].[PHUONG_XA]  WITH CHECK ADD  CONSTRAINT [FK_PHUONG_X_DIA_CHI_K_KHO] FOREIGN KEY([KHO_ID])
REFERENCES [dbo].[KHO] ([KHO_ID])
GO
ALTER TABLE [dbo].[PHUONG_XA] CHECK CONSTRAINT [FK_PHUONG_X_DIA_CHI_K_KHO]
GO
ALTER TABLE [dbo].[PHUONG_XA]  WITH CHECK ADD  CONSTRAINT [FK_PHUONG_X_QUANHUYEN_QUAN_HUY] FOREIGN KEY([QH_ID])
REFERENCES [dbo].[QUAN_HUYEN] ([QH_ID])
GO
ALTER TABLE [dbo].[PHUONG_XA] CHECK CONSTRAINT [FK_PHUONG_X_QUANHUYEN_QUAN_HUY]
GO
ALTER TABLE [dbo].[QUAN_HUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_HUY_THANHPHO__TINH_THA] FOREIGN KEY([TTP_ID])
REFERENCES [dbo].[TINH_THANHPHO] ([TTP_ID])
GO
ALTER TABLE [dbo].[QUAN_HUYEN] CHECK CONSTRAINT [FK_QUAN_HUY_THANHPHO__TINH_THA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHAP_SAN__NHAPHANG] FOREIGN KEY([N_NGAY], [KHO_ID])
REFERENCES [dbo].[NHAPHANG] ([N_NGAY], [KHO_ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHAP_SAN__NHAPHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NSX_SANPH_NSX] FOREIGN KEY([NSX_ID])
REFERENCES [dbo].[NSX] ([NSX_ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NSX_SANPH_NSX]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_SANPHAM_L_LOAISANP] FOREIGN KEY([L_ID])
REFERENCES [dbo].[LOAISANPHAM] ([L_ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_SANPHAM_L_LOAISANP]
GO
ALTER TABLE [dbo].[SANPHAM_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM__KHUYENMAI_KHUYENMA] FOREIGN KEY([KM_ID])
REFERENCES [dbo].[KHUYENMAI] ([KM_ID])
GO
ALTER TABLE [dbo].[SANPHAM_KHUYENMAI] CHECK CONSTRAINT [FK_SANPHAM__KHUYENMAI_KHUYENMA]
GO
ALTER TABLE [dbo].[SANPHAM_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM__SANPHAM_K_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[SANPHAM_KHUYENMAI] CHECK CONSTRAINT [FK_SANPHAM__SANPHAM_K_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAMCUTHE]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAMC_SANPHAM_S_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([SP_ID])
GO
ALTER TABLE [dbo].[SANPHAMCUTHE] CHECK CONSTRAINT [FK_SANPHAMC_SANPHAM_S_SANPHAM]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN_TAI_QUYEN] FOREIGN KEY([Q_ID])
REFERENCES [dbo].[QUYEN] ([Q_ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN_TAI_QUYEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_TAIKHOAN__ADMIN] FOREIGN KEY([ADMIN_ID])
REFERENCES [dbo].[ADMIN] ([ADMIN_ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_TAIKHOAN__ADMIN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_TAIKHOAN__KHACHHAN] FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KHACHHANG] ([KH_ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_TAIKHOAN__KHACHHAN]
GO
